html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

* {
margin: 0;
/*box-sizing: border-box;*/
}

html, body {
height: 100%;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-color: #C0DEED;
}

@font-face {
	font-family: 'rosettaicons';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/rosetta-icons-Regular.eot');
	src: url('../fonts/rosetta-icons-Regular.woff') format('woff'),
	url('../fonts/rosetta-icons-Regular.ttf') format('truetype');
}


.topbar {
	border-bottom: 1px solid #e8e8e8;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.global-nav {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	background: transparent;
	position: relative;
	width: 100%;
}

.global-nav-inner {
	background: #FFF;
	height: 46px;
}

.global-nav .container {
	height: 46px;
	width: auto;
	max-width: 1190px;
	margin: auto;
	text-align: center;
	position: relative;
}

.global-nav [role=navigation] {
	display: inline-block;
}

.global-nav [role=navigation], .nav, .nav > li {
	float: left;
}

.global-nav [role=search], .nav {
	display: inline-block;
	float: left;
}

.global-nav .form-search {
	display: inline-block;
	margin-top: 6px;
	zoom: 1;
	height: 30px;
	border-radius: 2em;
	background-color: rgb(146, 150, 163);
	width: 180px;
	padding: 1px 10px;
	
}

.global-nav .form-search input {
	margin-top: 7px;
	margin-right: 15px;
	width: 130px;
	background-color: inherit;
	border: none;
	box-shadow: none;
	outline: none;
	color: white;
	zoom: 1;
}

.global-nav .form-search.active {
	background-color: #66757f;
}

.global-nav button {
	border: 0;
  outline: none;
  padding-left: 0px;
}

.nav {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#global-actions > li {
	height: 46px;
	overflow: hidden;
}

.nav > li {
	color: #66757f;
}
.nav li {
	position: relative;
}

#global-actions > li > a {
	border-bottom: 4px solid rgb(0,132,180);
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.nav > li > a {
	color: inherit;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 46px;
	padding: 0 14px 0 4px;
	text-shadow: none;
	line-height: 1;
}

.nav > li .Icon {
	float: left;
	margin: 11px 0 0 10px;
	width: 23px;
	height: 23px;
}

.pull-right {
	text-align: left;
}

.Icon--large {
	font-size: 21px;
	line-height: 1;
}

.Icon--small {
	font-size: 16px;
	line-height: 1;
}

.Icon {
	background: transparent;
	font-style: normal;
	display: inline-block;
	vertical-align: baseline;
}

.Icon:before {
	font-family: 'rosettaicons';
	display: block;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.Icon--home:before { content: "\f053"; }
.Icon--connect:before { content: "\f050"; }
.Icon--discover:before{ content: "\f052"; }
.Icon--me:before { content: "\f056"; }
.Icon--bird:before { content: "\f179"; color: #55acee; position: absolute;margin-top: -27px; margin-left: -10%; z-index: 1001;}
.Icon--search:before { content: "\f058"; color: white;}
.Icon--dm:before {content: "\f054";}
.Icon--cog:before { content: "\f059";}
.Icon--tweet:before {content: "\f029"; }
.Icon--reply:before {content:"\f151";}
.Icon--retweet:before {content:"\f152";}
.Icon--favorite:before {content:"\f147";}


.nav > li > a .text {
	float: left;
	margin-left: 3px;
	margin-top: 17px;
	padding: 0;
}

.nav > li > a:hover {
	color: inherit;
	text-decoration: none;
}

#global-actions > li:hover > a, #global-actions > li.active > a {
	height: 42px;
}
#global-actions > li:hover {
	color: rgb(0,132,180);
}



.nav > li {
    color: #66757F;
}

.nav.right-actions > li > a{
    height: 100%;
    margin-right: 15px;
    opacity: 0.6;
    padding-right: 0px;
    transition: all 0.15s ease-in-out 0s;
}

.nav.right-actions > li > a:hover {
    color: #0084B4;
    opacity: 1;
}



#global-new-tweet-button {
    color: #FFF;
    cursor: pointer;
    height: 32px;
    margin-top: 7px;
    opacity: 0.7;
    padding: 0px 7px 0px 8px;
    background: none repeat scroll 0% 0% rgba(0, 132, 180, 0.8);
    border-radius: 4px;
}

#global-new-tweet-button:hover {
    opacity: 1;
}

#global-new-tweet-button > span {
	margin: 4px 0px;

}

.tweet-btn, .tweet-btn:focus {
    background: none repeat scroll 0% 0% rgba(0, 132, 180, 0.8);
}

.tweet-btn:hover, .tweet-btn:active {
    background-color: #0084B4;
}


#container {
	margin-top: 20px;

}

#schits-container {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 80px;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	-webkit-box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,.7) 0 4px 10px -1px;
	border-radius: 6px;

}

#schits-container #title{
	font-size: 16px;
	padding: 5px 10px;
	color: #66757f;
	border-radius: 6px 6px 0 0;
	border: 1px solid #e1e8ed;
	border-bottom-width: 0;
}

.schit {
	border: 1px solid #e1e8ed;
	border-bottom: none;
	position:relative;
	clear:both;

}

.schit:hover {
	background-color:#f5f8fa;
}

.schit em {
	font-weight: bold;
	color: #292f33; 
}

.schit .message {
  padding: 10px;
  padding-top: 0px;
  color: #4183c4
	font-size: 14px;
/*	font-weight: bold; 
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea); 
	background-repeat: repeat-x;*/
/*	border: 1px solid #e1e8ed;
	border-bottom-width: 0;*/
}

.schit .description {
  padding: 5px 10px;
  border-top:none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 1.4;
	color: #66757f;
	font-weight: normal;
	font-size: 12px;

}

.schit .source {
  /*text-align: right;*/
  font-size: 12px;
}

/*.schit .flag {
	position: absolute;
	font-size: 22px;
  right: 3px;
  top: 5px;
  padding: 10px;
  padding-top: 0px;
  color: #66757f;
  cursor: pointer;
}*/

/*.schit .flag.solid {
 	opacity: 0;
}*/

#tweet-actions{
	display: inline-block;

}
#tweet-actions li {
	/*float: left;*/
	margin: 0px 10px;
	float: left;
}

#tweet-actions li a{
	color: #66757F;
	opacity: 0.4;
	font-size: 12px;
	background: inherit;
	text-decoration: none;
	
}

#tweet-actions li a:hover{
	opacity: 0.6;
}

#schits-container #footer{
	padding: 2px 10px;
	color: #66757f;
	border-radius: 0 0 6px 6px ;
	border: 1px solid #e1e8ed;
	border-top: 1px solid white;

}
